
 
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Hairs</span>
          <div class="mdl-layout-spacer"></div>
          
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">arrow_back</i>
          </button>
        
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="#/product/1"><i class="mdl-color-text--blue-grey-400 material-icons">home</i>Home</a>
          <a class="mdl-navigation__link" href="#/product/1"><i class="mdl-color-text--blue-grey-400 material-icons">inbox</i>Inbox</a>
          <a class="mdl-navigation__link" href="#/product/1"><i class="mdl-color-text--blue-grey-400 material-icons">delete</i>Trash</a>
          <a class="mdl-navigation__link" href="#/product/1"><i class="mdl-color-text--blue-grey-400 material-icons">report</i>Spam</a>
          <a class="mdl-navigation__link" href="#/product/1"><i class="mdl-color-text--blue-grey-400 material-icons">forum</i>Forums</a>
          <a class="mdl-navigation__link" href="#/product/1"><i class="mdl-color-text--blue-grey-400 material-icons">flag</i>Updates</a>
          <a class="mdl-navigation__link" href="#/product/1"><i class="mdl-color-text--blue-grey-400 material-icons">local_offer</i>Promos</a>
          <a class="mdl-navigation__link" href="#/product/1"><i class="mdl-color-text--blue-grey-400 material-icons">shopping_cart</i>Purchases</a>
          <a class="mdl-navigation__link" href="#/product/1"><i class="mdl-color-text--blue-grey-400 material-icons">people</i>Social</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">help_outline</i></a>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div id="ingredient-container" class="mdl-grid demo-content ">
        
        </div>
      </main>
</div> 
