  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp mdl-color--blue-700 mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--10-col-desktop mdl-cell--stretch">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Material</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
             
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
             
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
             
            </tr>
          </tbody>
</table>

<div class="mdl-grid get-results">
  <div class="mdl-cell ">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored ">
      Go!
    </button>
  </div>
 
</div>

