<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header header__landing">
    <div class="mdl-layout__header-row header-title">
      <span class="mdl-layout-title header-title">What You Use?</span>
    </div>
  </header>
	<div class='container'>
		<div class="mdl-grid g-card">
		 	<div class="md-cell mdl-cell--4-col mdl-cell--8-col-tablet">
				<div class="mdl-card mdl-shadow--2dp demo-card-square card--size">
			  	<div class="mdl-card__title mdl-card--expand hairs">
			    	<h2 class="mdl-card__title-text"></h2>
			  	</div>
			  	<div class="mdl-card__actions mdl-card--border">
			    	<a class="mdl-button mdl-js-button  mdl-button--accent mdl-js-ripple-effect" href="#/product">Hair</a>
			  	</div>
				</div>
			</div>
		</div>
		<div class="mdl-grid g-card">
		 	<div class="md-cell mdl-cell--4-col mdl-cell--8-col-tablet">
				<div class="mdl-card mdl-shadow--2dp demo-card-square card--size">
			  	<div class="mdl-card__title mdl-card--expand makeup">
			    	<h2 class="mdl-card__title-text"></h2>
			  	</div>
			  	<div class="mdl-card__actions mdl-card--border">
			    	<a class="mdl-button mdl-js-button  mdl-button--accent mdl-js-ripple-effect" href="#/product">Makeup</a>
			  	</div>
				</div>
			</div>
		</div>
		<div class="mdl-grid g-card">
			<div class="md-cell mdl-cell--4-col mdl-cell--8-col-tablet">
				<div class="mdl-card mdl-shadow--2dp demo-card-square card--size">
				  <div class="mdl-card__title mdl-card--expand skincare">
				    <h2 class="mdl-card__title-text"></h2>
				  </div>
			  	<div class="mdl-card__actions mdl-card--border">
			     	<a class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" href="#/product">Skin</a>
				  </div>
			  </div>
			</div>
	  </div>
	</div>
	<footer class="mdl-mini-footer footer--style"> 
		<span></span>
    <ul>
     	<button class="mdl-button mdl-js-button mdl-js-ripple-effect">About</button>
     	<button class="mdl-button mdl-js-button mdl-js-ripple-effect">Privacy</button>
    </ul>
	</footer>
</div>